* {
  box-sizing: border-box;
}


body {
  flex-shrink: 0;
  min-width: 700px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  /* background-image: linear-gradient(to bottom, rgba(254, 235, 154, 0.874), rgb(249, 235, 189)); */
  background-image: linear-gradient(to left,#3b39b5,#22459091,#3b39b5);
}

html {
  flex-shrink: 0;
  min-width: 700px;
  min-height: auto;
  scroll-behavior: smooth;
}

.modal {
  display: none;
  /* 預設隱藏 */
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* 半透明背景 */
}

.header{
  float: left;
  margin-left: 20px;
  margin-top: 60px;
  border: 2px solid red;
}

.modal-content {
  margin: 10%;
  margin-top: 40px;
  width: 80%;
  height: 80%;
  animation-name: zoom;
  animation-duration: 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* background: rgb(255, 255, 255); */
  background-image: linear-gradient(to bottom right, rgb(232, 232, 238),#E16B8C);
  border: 15px solid rgb(11, 142, 218);
  border-radius: 10px;

}

.leftDiv{
  flex:1;
  margin: 20px;
  box-shadow: 0 0 2px black;
  height:500px;
  width: 500px;
  overflow: auto;
}

.art_name{
  flex:1;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  color: #edeef3;
  text-shadow: 0 0 5px rgb(22, 40, 204);
}

.art_info{
  flex:1;
  margin: 20px;
  padding: 20px;
  font-size: 25px;
  color: #fbfffe;
  text-shadow: 0 0 5px rgb(10, 62, 167);
}
.art_info>h2{
  margin: 0;
  font-size: 32px;
}

.modal-content-image{ 
  margin-right: 5%;
  margin-top: 2%;
  padding: 10px;
  height:500px;
  width: 500px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 5px black;


}

.modal-content-image>img,
.modal-content_Overlay>div>img {
  object-fit: contain;
  height: auto;
  width: 100%;

}


header {
  flex-shrink: 0;
  min-width: 700px;
}

main {
  flex-shrink: 0;
  min-width: 700px;
}


.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  height: 25%;
  opacity: 80%;
  transition: 0.5s ease;

}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  display: none;
  padding: 10%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  animation-name: slideshow;
  animation-duration: 1.5s;
}

.tabcontent>h1 {
  color: #fff;
  text-shadow: 0px 2px 10px #000000;
  font-size: 52px;

}



.aboutme {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px rgb(236, 85, 209);
}

.aboutme>h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  writing-mode: vertical-rl;
  border-radius: 10px;
  font-size: 3vw;

}


.contact {
  display: flex;
  justify-content: center;
}

.sticky {
  display: flex;
  justify-content: left;
  width: 20%;
  height: 30%;
  border: 5px solid rgb(221, 213, 213);
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1%;
}

.aboutme pre {
  display: inline-block;
  font-size: 1.2vw;
  text-align: left;
  line-height: 1;
  font-weight: bold;
}

.tabcontent>p {
  color: rgb(245, 242, 239);
  text-shadow: 0 0 5px #3f3d3d;
  font-size: 25px;
}


#gallery>h2{
  margin-left: 40px;
  color: white;
  text-shadow: 0 0 5px white;
}

#image_slidebox {
  position: relative;
}


#image1 {
  background-image: url(./art/01.jpg);
}

#image2 {
  background-image: url(./art/02.jpg);
}

#image3 {
  background-image: url(./art/07.jpg);
}

#image4 {
  background-image: url(./art/10.png);
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  right: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.img_show {
  
  background-image: linear-gradient(#f2d56d, #f3f3ee, #f7f0b3f6);
}
.button_nav{
  background-image: linear-gradient(#2d5a87, #c9ddf1, #2e5e8ef6);
}

.image_change_Btn {
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 18px 32px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  cursor: pointer;
}

.image_change_Btn:hover {
  background-color: rgb(165, 162, 162);
}

.image_change_Btn:active {
  background-color: rgb(128, 127, 127);
  color: white;
}

.img_show p {
  font-size: 25px;
  font-weight: bold;
}

.img {
  background-color: rgb(247, 216, 243);
  display: none;
}

.show {
  
  display: block;
}

.img_colume_show,.img_row_show {
  object-fit: cover;
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
  border-radius: 10px;
}

.img_colume_show>img {
  margin: 10px;
  border: 10px solid rgb(235, 176, 176);
}



.img_row_show>img {
  margin: 10px;
  white-space: nowrap;
  border: 10px solid rgb(235, 176, 176);
}

/* 作品設定 */
.artwork_for_colume {
  cursor: pointer;
  width: 200px;
  height: 400px;
  object-fit: cover;

  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(219, 4, 4, 0.867);
  transition: transform 0.3s;
}


.artwork_for_row {
  cursor: pointer;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(219, 4, 4, 0.867);
  transition: transform 0.3s;
}



/* 滑鼠移到圖片上時是否放大 */
.artwork_for_row:hover,
.artwork_for_colume:hover,
.artwork_for_colume_sp:hover {
  z-index: 999;
  transform: scale(1.1);
  opacity: 0.7;

}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  z-index: 1000;
  background-image: linear-gradient(#393f4c, #706caa, #18061480);
  color: rgb(200, 137, 137);
  list-style-type: none;
}

nav .logo {
  white-space: nowrap;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  color: #fef4f4;
  text-shadow: 0px 3px 10px #ffffff;

}

nav .nav_List {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(0.5px);
  background-image: linear-gradient(#f2a0a1, #fef4f4, #2239701c);
  border-radius: 10px;
  width: 60%;
  height: 70%;
  margin-right: 7%;

}


nav .nav_List_li {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
  gap: 10vw;
  font-weight: bold;
}

#gallery>h2 {
  font-size: 5rem;

}


nav .nav_List_li a:hover {
  color: aqua;
  text-shadow: 0px 5px 5px rgb(236, 229, 229);
  font-weight: bold;
}



nav .nav_List li a {

  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s;
  transition: ease 0.3s;
  padding: 10px;
}

#social {
  background-image: linear-gradient(to right ,rgb(210, 206, 219) ,rgb(140, 33, 240));
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  font-size: 24px;
}

#social h2 {

  margin-left: 5%;
}
#social pre{
  color: darkblue;
}


.returnUp {
  border-radius: 8px;
  background-image: linear-gradient(to bottom, rgba(249, 199, 253, 0.753), rgb(252, 247, 247));
  white-space: nowrap;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 10%;
  height: 50%;
  margin-right: 5%;

}



.returnUp a {


  color: rgb(92, 91, 91);
  text-shadow: 0px 0px 5px rgb(182, 233, 241);
  text-decoration: none;
}

.returnUp a:hover {
  color: aqua;
  transition: color 0.3s;
  font-weight: bold;

}

.nav_List_li .icon {
  display: none;
}


@keyframes slideshow {
  from {
    opacity: 0.6
  }

  to {
    opacity: 1
  }
}



@keyframes zoom{
  from{transform: scale(0);}
  to{transform: scale(1);}
}

@media screen and (max-width: 768px) {


  .nav_List_li li:not(:last-child) {
    display: none;

  }

  .nav_List_li .icon {
    display: block;
    float: left;
  }

  .nav_List_li.responsive {
    display: block;
    position: absolute;
    top: 0px;
    padding-left: 0;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: rgb(68, 68, 68);
    z-index: 999;
    border-radius: 10px;
    min-width: 100px;

  }

  .nav_List_li.responsive li {
    display: flex;
    align-items: center;
    padding: 10px;

  }

  .nav_List_li.responsive li a {
    min-width: 0px;
    color: #fff;
    display: flex;
    text-align: right;
    font-size: 4vw;
    padding: 1px;
  }

}