body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background:
    linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5)),
    
}
html{
  scroll-behavior: smooth;
}

.tablink{
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  height: 25%;
  opacity: 80%;
  transition: 0.5s ease;

}

.tablink:hover{
  background-color: #777;
}

.tabcontent{
  display: none;
  padding: 10%;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  animation-name: slideshow;
  animation-duration: 1.5s;
}

.tabcontent>h1{
  color: #fff;
  text-shadow: 0px 2px 10px #000000;
  font-size: 52px;

}



.aboutme{
  
  background-color: rgb(255, 255, 255);
  width: 50%;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: auto;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px;
}

.aboutme>h1
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
  writing-mode: vertical-rl;
  border-radius: 10px;
  font-size: 3vw;

}


.contact{
  display: flex;
  justify-content: center;
}

.sticky{
  display: flex;
  justify-content: left;
  width: 20%;
  height: 30%;
  border: 5px solid rgb(221, 213, 213);
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 1%;
}

.aboutme pre{
  display: inline-block;
  font-size: 1.2vw;
  text-align: left;
  line-height: 1;
  font-weight: bold;
}

.tabcontent>p{
  color: rgb(245, 242, 239);
  text-shadow: 0 0 5px #3f3d3d;
  font-size: 25px;
}

@keyframes slideshow{
  from {opacity: 0.6} 
  to {opacity: 1}
}





#image1{background-image: url(./art/01.jpg);}
#image2{background-image: url(./art/02.jpg);}
#image3{background-image: url(./art/07.jpg);}
#image4{background-image: url(./art/10.png);}


table,tr,th{
  border: 2px solid black;
  background-color: #f0e7cb;
  margin-left: 10%;
  margin-right: 10%;

}

.work{
  width:50%;
}


/* 作品設定 */
.artwork_for_colume{
    cursor: pointer;
    width: 25%;
    border: 2px solid  rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.artwork_for_row{
    cursor: pointer;
    width: 50%;
    border: 2px solid  rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

/* 滑鼠移到圖片上時是否放大 */
.artwork_for_row:hover,.artwork_for_colume:hover{
    transform: scale(2);
    
}
nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  z-index: 1000;
  background-color: rgb(141, 218, 231);
  color: rgb(200, 137, 137);
  list-style-type: none;
}
nav .logo{
  white-space: nowrap;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  color: rgb(226, 114, 10);

}
nav .nav_List{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgb(221, 128, 66);
  border-radius: 10px;
  width: 60%;
  height: 70%;
  margin-right: 7%;
  
}
nav .nav_List_li{
  white-space: nowrap;
  display: flex;
  justify-content:center;
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
  gap: 10vw;
}



nav .nav_List_li a:hover{
  color: aqua;
  font-weight: bold;
}


nav .nav_List li a{

  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s;
  transition:ease 0.3s;
}

.work{}


footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media screen and (max-width: 768px){
  header .nav_List {
    display: none;
    
  }

}

.returnUp{
  white-space: nowrap;
  display: flex;
  justify-content: center;
  width: 5%;
  margin-left: 2%;
  margin-right: 5%;
  
}



.returnUp a{
  text-decoration: none;
}

