body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background:
    linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5)),
    
}
html{
  scroll-behavior: smooth;

}

.tablink{
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 25%;
  height: 25%;
  opacity: 80%;
  transition: 0.5s ease;

}


.tablink:hover{
  background-color: #777;
}

.tabcontent{
  color: white;
  display: none;
  border-radius: 10px;
  padding: 15%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  animation-name: slideshow;
  animation-duration: 1.5s;


}
@keyframes slideshow{
  from {opacity: 0.6} 
  to {opacity: 1}
}



#image1{background-image: url(./art/01.jpg);}
#image2{background-image: url(./art/02.jpg);}
#image3{background-image: url(./art/07.jpg);}
#image4{background-image: url(./art/10.png);}
/* 作品設定 */
.artwork{
    cursor: pointer;
    width: auto;
    height: 600px;
    border: 10px solid  aqua;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
/* 滑鼠移到圖片上時是否放大 */
.artwork:hover{
    transform: scale(1.1);
    
}
nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  z-index: 1000;
  background-color: rgb(141, 218, 231);
  color: rgb(200, 137, 137);
  list-style-type: none;
}
nav .logo{
  white-space: nowrap;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 25px;
  color: rgb(226, 114, 10);

}
nav .nav_List{
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: rgb(221, 128, 66);
  border-radius: 10px;
  width: 100%;
  height: 80%;
  margin-right: 7%;
}
nav .nav_List_li{
  
  display: flex;
  justify-content:center;
  text-align: center;
  list-style-type: none;
  font-size: 24px;
  gap: 6rem;
}



nav .nav_List_li a:hover{
  color: aqua;
  font-weight: bold;
}
nav .nav_List li a{

  display: flex;
  justify-content: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s;
  transition:ease 0.3s;
}





main>section>div>pre{
    display: flex;
    height: auto;
    width: 400px;
    padding: 20px;
    border: 5px solid #1C6EA4;
    border-radius: 10px;
    background-color: darkkhaki;
    color: rgb(40, 43, 45);
    font-size: 20px;
    overflow-wrap: break-word;
    white-space: normal;
}

main>section>h2+pre{
  font-size: 25px;
  color: aqua;
}


footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}


